<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Evento</title>
    <link rel="stylesheet" href="{% static 'accounts/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Deletar Evento</h1>
        <p>Tem certeza que deseja deletar o evento ?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Deletar</button>
            <a href="{% url 'listar_eventos' %}"><button type="button">Cancelar</button></a>
        </form>
    </div>
</body>
</html>
